html, body {
    margin: 0 auto;
    padding: 0;

}

.page-container {
    padding: 25px;
    margin: 25px 10%;
    
}

.carousel {
    margin: 20px 0;
}
h1 {
    margin: 25px auto;
    width: 80%;
    text-align: center;
    color: #a38135;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

h5, p {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.card-body h5 {
    color: #a38135;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.card-body p {
    color: #8c738a;
    text-shadow: none;
}

.card-footer, .modal-footer {
    position: relative;
    height: 75px;


}
button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a38135;
}
.modal-title {
    color: #a38135;
    text-shadow: none;
}

.btn-secondary {
    position: absolute;
    top: 50%;
    left: 80%;
}

.modal-header {
position: relative;
}

.btn-close {
    position: absolute;
    top: 60%;
    left: 90%;
    color: blue;
}
.btn-primary {
    background-color: #826676;
    border-color: #826676;
}